body {
    font-family: sans-serif;
}

.main1H {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
   
}

.header1H {
    background-color: red;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 10;
}

.header01H {
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: WHITE;
}

.header01H p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.header02H {
    width: 100%;
    background-color: black;
    height: 5rem;
    display: flex;

}

.headerLeft1H {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.headerTitles1H {
    color: white;
}

.headerTitles1H:hover {
    color: orange;
}

.headerRight1H {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
}

.headerRightIcons1H {
    color: white;
    font-size: 27px;
}

.headerRightIcons11H {
    color: white;
    font-size: 18px;
}
.headerRightIcons112{
    color: white;
    font-size: 20px;   
}
.headerRightIcons111 {
    color: white;
    font-size: 27px;
}

.btnsearch1 {
    border-color: white;
    color: white;
    background-color: rgb(20, 15, 28);
    ;
    height: 40px;
    width: 140px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.linksNH {
    margin: 16px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.linksNDH,.linksNH:hover{
    color: orange;
}
.headerRightIcons1H:hover{
    color: orange;
}
.headerRightIcons111H:hover{
    color: orange;
}
.headerRightIcons112H:hover{
    color: orange;
}


.linksNDH {
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.dropdown-toggle::after {
    content: none;
}

/* CENTER */
.center1HP1 {
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
}
.prod-leftSection{
    width: 50%;
    /* background: red; */
    
    /* border-style: groove; */
    height: 100%px;
}
.prod-rightSection{
    width: 50%;
    /* background:black; */

    /* border-style: groove; */
    height: 100%px;
}
.prodDisp{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%px;
}
li{
    color: grey;
}
.BtnProd{
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    margin: 0;
    min-width: 35px;
    height: 35px;
    padding: 0 10px;
    background-color: #e0e0e0;
    border: 2px solid transparent;
    border-radius: 5px;
}
.acard-button1{
    max-width: 500px;
    flex: 1;
    height: 40px;
    margin-bottom: 0;
    border: 1px solid #111;
    background-color: #111;
    color: #fff;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 500px;
}
.acard-button2{
    max-width: 500px;
    flex: 1;
    height: 40px;
    margin-bottom: 0;
    border: 1px solid #111;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
   
    border-radius: 8px;
    padding: 12px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
   
}
.iconsIP{
    font-size: 20px;
    /* color: white; */
}

/* FOOTER */

.footer1H {
    background-color: black;
    width: 100%;
    height: 200px;
    
}

.footer1aH {
    display: flex;
    flex-direction: row;
}

.footer1H h4 {
    color: #f31a20;
    font-family: var(--ft2);
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 15px;
}

.leftFooter1H {
    height: 180px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.leftFooter1H p {
    font-size: 13px;
    color: white;
    background-color: black;
    border-top: 1px solid black;
}

.rightFooter1H {
    height: 180px;
    width: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerFooter1H {
    height: 180px;
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    color: white;
}

a {
    color: white;
}

.centerFooter1H,
.rightFooter1H a {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 100;
}



.footBottom1H {
    padding-left: 200px;
    height: 100px;

    padding-top: 30px;
    background-color: black;
}